.TextScreen main.component-body{
  flex: 1 1 50%;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
}

.TextScreen main.component-body .input-group{
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
} 
.TextScreen main.component-body .input-group.input-group-with-textarea{
  margin-top: 1rem;
  margin-bottom: 0;
} 
.TextScreen main.component-body .input-group.input-group-with-textarea textarea{
  height: 20vh;
}

.TextScreen main.component-body .input-group .FileReader{
  margin-top: 2rem;
  margin-bottom: .5rem;
  border: 1px solid var(--accent-200);
  color: var(--accent-600);
  --bg-color: var(--accent-500);
  
}
.TextScreen .component-body__image{
  flex: 1 1 10px;
  display: grid;
  grid-template: 1fr / 1fr;
}
.TextScreen .component-body__image img{
  height: 100%;
  margin: 0 auto;
}


.TextScreen .component-footer .btn.btn-tertiary{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
}
@media (min-width: 1024px){
  .TextScreen .component-body__image,
  .TextScreen .component-footer{
    display: none;
  }
  .TextScreen main.component-body{
    flex-grow: 0;
  }
  .TextScreen main.component-body .input-group,
  .TextScreen main.component-body .input-group .input-with-moving-label,
  .TextScreen main.component-body .input-group .FileReader{
    margin: 0 !important;
  }
  .TextScreen h2{
    margin-bottom: 2.25rem;
    /* position: absolute; */
  }
  .TextScreen{
    margin-bottom: 1rem;
  }
  .TextScreen main.component-body .input-group .text-muted{
    font-size: .9rem;
    line-height: 1.5rem;
  }
  .TextScreen h2 span{
    position: absolute;
    display: inline-block;
    height: 3.3rem;
    width: 3.3rem;
    background-color: var(--primary-500);
    border-radius: 50%;
    color: white;
    text-align: center;
    left: 2rem;
    line-height: 3.2rem;
  }
}