.app-header{
  padding-bottom: 1rem;
}
.app-screen{
  padding-top: 1.5rem;
}




/* Progress Bar */
.progress ul{
  position: relative;
  margin-bottom: 1rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) auto
}


.progress ul li::before{
  content: "";
  width: 20px;
  height: 20px;
  background: #E3EDFF;
  background: var(--primary-100);
  border: 1px solid #E3EDFF;
  border-color: var(--primary-100);
  border-radius: 50%;
  display: block; 
  z-index: 1;
  position: relative;
}

.progress ul li::after{
  content: "";
  width: 50%;
  height: 2px;
  background-color: #E3EDFF;
  background-color: var(--primary-100);
  border-radius: 50%;
  top: 10px;
  left: 10px;
  right: 0;
  display: block;
  position: absolute; 
  z-index: 0;
}
.progress ul li:nth-child(2)::after{
  left: 50%;
  width: 48%;
}
.progress ul li:nth-child(3)::after{
  display: none;
}

.progress ul li span{
  position: absolute;
  color: #ABC3EF;
  color: var(--primary-200);
  font-size: .625rem;
}
.progress ul li:nth-child(2) span{
  left: 50%;
  transform: translate(-50%, 0);
}
.progress ul li:nth-child(3) span{
  right: 0;
}




.progress.at-step-1 li:nth-child(1) span,
.progress.at-step-2 li:nth-child(2) span,
.progress.at-step-3 li:nth-child(3) span,
.progress.at-step-2 li:nth-child(1) span,
.progress.at-step-3 li:nth-child(1) span,
.progress.at-step-3 li:nth-child(2) span,
.progress.at-steps-completed li:nth-child(1) span,
.progress.at-steps-completed li:nth-child(2) span,
.progress.at-steps-completed li:nth-child(3) span{
  color: #2C59AC;
  color: var(--primary-500);
}
.progress.at-step-1 li:nth-child(1)::before,
.progress.at-step-2 li:nth-child(2)::before,
.progress.at-step-3 li:nth-child(3)::before{
  background: #ABC3EF;
  background: var(--primary-200);
  border: 1px solid #2C59AC;
  border-color: var(--primary-500);
}
.progress.at-step-2 li:nth-child(1)::before,
.progress.at-step-3 li:nth-child(1)::before,
.progress.at-step-3 li:nth-child(2)::before,
.progress.at-steps-completed li:nth-child(1)::before,
.progress.at-steps-completed li:nth-child(2)::before,
.progress.at-steps-completed li:nth-child(3)::before{
  background: #2C59AC;
  background: var(--primary-500);
  border: 1px solid #2C59AC;
  border-color: var(--primary-500);
}
.progress.at-step-2 li:nth-child(1)::after,
.progress.at-step-3 li:nth-child(1)::after,
.progress.at-step-3 li:nth-child(2)::after,
.progress.at-steps-completed li:nth-child(1)::after,
.progress.at-steps-completed li:nth-child(2)::after{
  background: #2C59AC;
  background: var(--primary-500);
}



.input-group{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.input-group .text-muted{
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  margin-bottom: .5rem;
  color: #7E8694;
  font-style: normal;
  font-weight: normal;
}
.input-group input[type="text"]{
  min-height: 2.375rem;
  padding: .5rem;
  font-size: 1rem;
  line-height: 1.3125rem;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  background: #FFFFFF;
  margin-bottom: .5rem;
}