.app-header{
  padding-bottom: 1rem;
}
.app-screen{
  padding-top: 1.5rem;
}
.logo{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #2C59AC;
  color: var(--primary-500);
  position: relative;
  line-height: 48px;
  transition: font-size .1s, top .1s, left .1s;
  left: 6.5rem;
  top: 8.5rem;
  font-size: 72px;
}










.input-group{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.input-group .text-muted{
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  margin-bottom: .5rem;
  color: #7E8694;
  font-style: normal;
  font-weight: normal;
}
.input-group input[type="text"], textarea{
  min-height: 2.375rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.3125rem;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  border: 1px solid var(--accent-200);
  background: #FFFFFF;
}
.input-group input, textarea{
  margin-bottom: .5rem;
}
.input-group .text-muted button{
  text-decoration: underline;
  /* border-bottom-width: 2px; */
  /* border-bottom-style: solid; */
}





@media (min-width: 1024px){
  #root, .App{
    height: auto;
  }
  .app-screen{
    height: calc(90vh - 84px );
    max-width: 1600px;
    margin: 0 auto;
  }
  .app-header{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    position: sticky;
    top: 1rem;
    z-index: 10;
    background-color: transparent;
  }
  .app-header::before{
    background-color: transparent;
    content: "";
    position: fixed;
    width: 100vw;
    height: 80px;
    left: 0;
    top: 1rem;
    z-index: 0;
    /* box-shadow: 2px 4px 10px -2px rgba(0, 0, 0, 0.25); */
  }
  .app-header.has-shadow::before{
    box-shadow: 2px 4px 10px -2px rgba(0, 0, 0, 0.25);
    background-color: white;
  }
  .app-header.has-shadow{
    background-color: white;
  }
}





.app-progress-section{
  background-color: var(--primary-800);
  color: white;
  padding: 0 11rem;
}

.app-progress-section h2{
  margin: 2rem 0;
  margin-bottom: 3rem;
}

.app-progress-section .progress{
  --shape-muted: var(--accent-200);
  --shape-busy: var(--accent-500);
  --shape-complete: var(--accent-500);
  --text-muted: var(--accent-200);
  --text-busy: var(--accent-200);
  --text-complete: var(--accent-500);
  transform: scale(1.5);
} 


@media (min-width: 1024px){

  .settings-section .form-container .app-screen{
    width: 100%;
    height: fit-content;
    margin: 0;
    padding-bottom: 0;
  }

  .form-container{
    /* border: 1px solid red; */
    background: #F8FAFF;
    box-shadow: 2px 4px 10px -2px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 1rem 1rem 1rem 4.5rem;
    width: 33vw;
    position: relative;
  }
  
  .settings-section .banner h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 1.5rem;
  }

  .settings-section .banner h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 6rem;
  }
  .settings-section .banner main{
    flex: 1 1 10px;
    display: grid;
    grid-template: 1fr / 1fr;
  }
  .settings-section .banner main img{
    height: 100%;
    /* display: none; */
    grid-area: 1 / 1 / 2 / 2;
  }
}













.top-left-circles{
  position: absolute;
  top: 0;
  left: 0;
  height: 245px;
  width: 300px;
  background-color: transparent;
  z-index: -1;
  overflow: hidden;
}
.top-left-circles::before,
.top-left-circles::after{
  background-color: var(--primary-100);
  opacity: 0.35;
  height: 245px;
  width: 245px;
  position: absolute;
  content: "";
  top: 0;
  border-radius: 50%;
}
.top-left-circles::before{
  top: -125px;
  left: 36px
}
.top-left-circles::after{
  left: -148px;
  top: -36px
}
.decorators-first .top-left-circles{
  top: -100px;
  z-index: 15;
}



.top-right-circle{
  position: absolute;
  top: 0;
  right: 0;
  height: 245px;
  width: 245px;
  background-color: transparent;
  z-index: 5;
  overflow: hidden;
}
.top-right-circle::before{
  background-color: var(--accent-100);
  opacity: 0.35;
  height: 245px;
  width: 245px;
  position: absolute;
  content: "";
  top: 0;
  border-radius: 50%;
  right: -125px;
  top: -125px;
}
.decorators-first .top-right-circle{
  top: -100px;
}



.bottom-right-histogram{
  position: absolute;
  bottom: 250px;
  right: 100px;
  background-color: transparent;
  z-index: 15;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
  gap: 55px;
  align-items: baseline;
  z-index: -2;
}
.bottom-right-histogram::before,
.bottom-right-histogram::after{
  content: "";
  display: block;
}
.bottom-right-histogram::before,
.bottom-right-histogram::after,
.bottom-right-histogram span{
  background: rgba(255, 164, 122, 0.07);
  width: 150px;
  height: 450px;
}
.bottom-right-histogram::before{ height: 100px;  }
.bottom-right-histogram span:first-child{ height: 232px;  }
.bottom-right-histogram::after{ height: 200px;  }
