body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
} 



a:link,
a:visited,
a:hover,
a:active,
a{
  text-decoration: none;
  color: #ac1876;
  color: var(--color-accent);
}




.d-none{
  display: none;
}

.btn{
  background-color: #ac1876;
  background-color: var(--color-accent);
  color: #f2f2f2 !important;
  color: var(--color-white) !important;
  padding: .5rem 1rem;
  text-align: center;
  border-radius: 5px;
  display: inline-flex;
  align-items: baseline;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  outline: none;
}
.btn:hover{
  background-color: #6a0c8b;
  background-color: var(--color-accent-dark);
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.btn--text-icon .btn__text{
  display: none;
}
.btn--text-icon {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  /* bottom: 1.5rem; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  border-radius: 25px;
  width: 100%;
  /* width: calc(100% - 3rem); */
  align-items: center;
  font-size: 1rem;
  margin: auto;
  display: flex;
}

.btn--text-icon .btn__text{
  display: inline;
  line-height: 1;
}
.btn--text-icon i{
  margin-right: 1rem;
  position: absolute;
  left: 1.5rem;
}
@media (min-width: 768px){
  .btn--text-icon{
    border-radius: 5px;
    width: auto;
    height: auto;
    align-items: baseline;
    font-size: 1rem;
  }
  .btn--text-icon .btn__text{
    display: inline;
  }
  .btn--text-icon i{
    margin-right: 1rem;
  }
  .btn{
    padding: .75rem 1.5rem;
  }
}



.container{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}