body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/imgs/bg-reduced.jpg");
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  --main-color: #cf5454;
  --secondary-color: #16c18a;
  --main-color-dark: #8b3232;
  --secondary-color-dark: #0b7b57;
  --main-color-light: #ff6a6a;
  --secondary-color-light: #74caae;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  background-color: rgba(0,0,0,0.5);
}

body *,
body *:after,
body *:before {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn{
  padding: 1rem .5rem;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover{
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.btn-main{
  color: white;
  background-color: var(--main-color);
}
.btn-main:hover{
  background-color: var(--main-color-dark);
}


.bg-white{
  background-color: white;
}