.RangeScreen main.component-body{
  flex: 1 1 50%;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
}

.RangeScreen main.component-body .input-group{
  margin-top: 1rem;
  margin-bottom: 1rem;
} 
/* 
.RangeScreen main.component-body .input-group.input-group-with-textarea{
  margin-top: 1rem;
  margin-bottom: 0;
} 
.RangeScreen main.component-body .input-group.input-group-with-textarea textarea{
  height: 20vh;
}

.RangeScreen main.component-body .input-group .FileReader{
  margin-top: 2rem;
  margin-bottom: .5rem;
  border: 1px solid var(--accent-200);
  color: var(--accent-600);
  --bg-color: var(--accent-500);
  
} */
.RangeScreen .component-body__image{
  flex: 1 1 10px;
  display: grid;
  grid-template: 1fr / 1fr;
}
.RangeScreen .component-body__image img{
  height: 100%;
  margin: 0 auto;
}



.RangeScreen .two-range-input{
  --bg-col: var(--accent-600);
  margin-bottom: .2rem;
}

.RangeScreen .query-limit-container{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ACACAC;
  display: inline-block;
  width: fit-content;
  margin-top: 0.625rem;
  /* border: 1px solid red; */
}
.RangeScreen .query-limit-container input{
  width: 4rem;
  text-align: right;
  color: #67718B;
  border-bottom: 1px solid #E3EDFF;
  margin-left: .5rem;
  padding: .2rem .5rem;
}



.RangeScreen .component-footer .btn.btn-tertiary{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: auto;
}
.RangeScreen .component-footer .btn.btn-tertiary .icon{
  transform: rotate(180deg);
  margin-left: 0;
  margin-right: 1rem;
}