.app-progress-bar{
  min-width: 200px;
  height: fit-content;
  --shape-muted: var(--primary-100);
  --shape-busy: var(--primary-100);
  --shape-complete: var(--primary-500);
  --text-muted: var(--primary-200);
  --text-busy: var(--primary-500);
  --text-complete: var(--primary-500);
}
@media (min-width: 1024px){
  .app-progress-bar{
    min-width: 30rem;
  }
  .app-progress-bar ul li span{
    font-size: 18px;
    margin-top: .5rem;
    line-height: 27px;
  }
}















/* Progress bar items */
.app-progress-bar ul{
  position: relative;
  /* Because of the text underneath */
  margin-bottom: 2rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) auto
}

.app-progress-bar ul li::before{
  /* Round shapes */
  content: "";
  width: 20px;
  height: 20px;
  background: #E3EDFF;
  background: var(--primary-100);
  background: var(--shape-muted);
  border: 1px solid #E3EDFF;
  border-color: var(--primary-100);
  border-color: var(--shape-muted);
  border-radius: 50%;
  display: block; 
  z-index: 1;
  z-index: 21;
  position: relative;
}

.app-progress-bar ul li::after{
  /* Connecting lines */
  content: "";
  width: 50%;
  height: 2px;
  background-color: #E3EDFF;
  background-color: var(--primary-100);
  background-color: var(--shape-muted);
  border-radius: 50%;
  top: 10px;
  left: 10px;
  right: 0;
  display: block;
  position: absolute; 
  z-index: 0;
  z-index: 20;
}


.app-progress-bar ul li:nth-child(2)::after{
  /* Adjustements for the lines */
  left: 50%;
  width: 48%;
}
.app-progress-bar ul li:nth-child(3)::after{
  display: none;
}






.app-progress-bar ul li span{
  /* Style text */
  position: absolute;
  color: #ABC3EF;
  color: var(--primary-200);
  color: var(--text-muted);
  font-size: .625rem;
}
.app-progress-bar ul li:nth-child(2) span{
  /* Adjust text */
  left: 50%;
  transform: translate(-50%, 0);
}
.app-progress-bar ul li:nth-child(3) span{
  right: 0;
}
@media (min-width: 1024px){
  .app-progress-bar ul li span{
    font-size: 18px;
    margin-top: .5rem;
    line-height: 27px;
  }
}
















/* The logic of the progress bar */
.app-progress-bar.at-step-1 li:nth-child(1) span,
.app-progress-bar.at-step-2 li:nth-child(2) span,
.app-progress-bar.at-step-3 li:nth-child(3) span,
.app-progress-bar.at-step-2 li:nth-child(1) span,
.app-progress-bar.at-step-3 li:nth-child(1) span,
.app-progress-bar.at-step-3 li:nth-child(2) span,
.app-progress-bar.at-steps-completed li:nth-child(1) span,
.app-progress-bar.at-steps-completed li:nth-child(2) span,
.app-progress-bar.at-steps-completed li:nth-child(3) span{
  color: #2C59AC;
  color: var(--primary-500);
  color: var(--text-complete);
}
.app-progress-bar.at-step-1 li:nth-child(1)::before,
.app-progress-bar.at-step-2 li:nth-child(2)::before,
.app-progress-bar.at-step-3 li:nth-child(3)::before{
  background: #ABC3EF;
  background: var(--primary-200);
  background: var(--shape-busy);
  border: 1px solid #2C59AC;
  border-color: var(--primary-500);
  border-color: var(--shape-complete);
}
.app-progress-bar.at-step-2 li:nth-child(1)::before,
.app-progress-bar.at-step-3 li:nth-child(1)::before,
.app-progress-bar.at-step-3 li:nth-child(2)::before,
.app-progress-bar.at-steps-completed li:nth-child(1)::before,
.app-progress-bar.at-steps-completed li:nth-child(2)::before,
.app-progress-bar.at-steps-completed li:nth-child(3)::before{
  background: #2C59AC;
  background: var(--primary-500);
  background: var(--shape-complete);
  border: 1px solid #2C59AC;
  border-color: var(--primary-500);
  border-color: var(--shape-complete);
}
.app-progress-bar.at-step-2 li:nth-child(1)::after,
.app-progress-bar.at-step-3 li:nth-child(1)::after,
.app-progress-bar.at-step-3 li:nth-child(2)::after,
.app-progress-bar.at-steps-completed li:nth-child(1)::after,
.app-progress-bar.at-steps-completed li:nth-child(2)::after{
  background: #2C59AC;
  background: var(--primary-500);
  background: var(--shape-complete);
}
