.Header{
  max-width: 1280px;
}

.Header .app-progress-bar{
  width: 100%;
  max-width: 300px;
}

.Header .logo{
  color: var(--primary-500);
}

@media (min-width: 1024px){
  #app-header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}