---
---

@import "{{ site.theme }}";

:root{
  --main-color: #2C59AC;
}
.page-header {
  background-color: var(--main-color);
  background-image: linear-gradient(120deg, #2C59AC, #DC5D46);
  background-image: url("{{ site.baseurl }}/docs/hero-mobile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .3s;
  margin-bottom: 5rem;
}
.page-header .project-tagline {
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
.page-header * {
  opacity: 0;
  transition: all .3s;
}
.page-header:hover * {
  opacity: 1;
  transition: all .3s;
}
.page-header:hover {
  background-blend-mode: multiply;
  transition: all .3s;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-weight: bold;
  color: inherit;
  color: var(--main-color);
  border-bottom: 4px solid var(--main-color);
  width: fit-content;
  padding-bottom: .5rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  border-width: 0;
}
.main-content h2{
  border-width: 4px;
}
.main-content h1{
  width: 100%;
  text-align: center;
  border-width: 0;
  font-size: 3rem;
  margin-bottom: 5rem;
}
.main-content li{
  margin-bottom: 1rem;
}
@media screen and (min-width: 64em){
  .main-content {
    line-height: 1.8;
  }
}

.main-content p img{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}