---
---

@import "{{ site.theme }}";


.page-header {
  background-color: #2C59AC;
  background-image: linear-gradient(120deg, #2C59AC, #DC5D46);
  background-image: url("{{ site.baseurl }}/docs/hero-mobile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-header * {
  opacity: 0;
}
.page-header:hover * {
  opacity: 1;
}
.page-header:hover {
  background-blend-mode: multiply;
}