.details__header{
  padding: 0.5rem 1rem;
  color: white;
  color: var(--color-white);
  position: relative;
  flex: 0 0 4rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(-10deg, hsl(230deg 100% 29% / .8) 0%, hsl(220deg 80% 19% / 100%) 100%);
  background: linear-gradient(170deg, hsla(9, 61%, 71%, 100%), hsla(355, 56%, 63%, 100%));
}
.details__header h1{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}








.details__body{
  flex: 1 1 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  position: relative;
  /* max-width: 600px; */
  width: 100%;
  margin: 0 auto;
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
  /* padding-bottom: 6rem; */
}
.details__body hr{
  margin: 1.5rem;
  border-top: 1px solid #ddd;
}

.details__body .details__processing{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.details__body .details__processing p{
  margin-bottom: 1rem;
  color: #555;
  text-align: center;
  line-height: 1.5;
  color: white;
  color: var(--color-secondary-2--light);
  background: var(--color-secondary-2--lightest);
  border-radius: 4px;
  padding: 1rem .5rem;
  font-size: .9rem;
  border: 1px solid var(--color-secondary-2--lighter);
}
.details__body .details__processing .lds-dual-ring:after{
  border-color: #333 transparent #333 transparent;
  border-color: var(--color-secondary-2--light) transparent var(--color-secondary-2--light) transparent;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-width: .2rem;
}


.details__body .details__processing{
  display: none;
}
.details__body .details__data{
  display: block;
  display: flex;
  overflow-y: auto;
  padding: 0 .5rem;
  position: relative;
  left: -1rem;
  width: 95vw;
}
.details__body.details__body--processing .details__processing{
  display: flex;
}
.details__body.details__body--processing .details__data{
  display: none;
}


@media (min-width: 768px){
  .details__container{
    padding-left: 20vw;
    min-height: 100vh;
    margin-top: 5rem;
  }
  .details__body{
    overflow-y: visible;
    max-height: fit-content;
  }
  .details__header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20vw;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 8rem;
  }
  .details__header h1{
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    /* margin: auto; */
    width: 100%;
    left: 0;
  }
  .details__header h1 a{
    transform: rotate(90deg);
  }
  .details__header h1 > span{
    margin: 2rem 0;
  }
  .details__body .details__data{
    display: block;
    display: flex;
    overflow-y: auto;
    padding: 0 .5rem;
    position: static;
    left: 0;
    width: 100%;
  }
}