.autogrow-textarea {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
  width: 100%;
  height: 100%;
}

.autogrow-textarea *,
.autogrow-textarea *::before,
.autogrow-textarea *::after{
  transition: all .3s;
}


.autogrow-textarea::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.autogrow-textarea > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.autogrow-textarea > textarea,
.autogrow-textarea::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;

  max-height: 10rem;
  overflow-y: auto;
  word-break: break-word;
  line-height: 1.5;
  min-height: 2.5rem;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}




.autogrowing-textarea-container {
  position: relative;
  margin-top: 1.5rem;
}
.autogrowing-textarea-container::before,
.autogrowing-textarea-container::after{
  content: " ";
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: red;
  width: 100%;
}
.autogrowing-textarea-container::before{
  background-color: #bbb;
  background-color: var(--color-secondary-2);
  opacity: .5;
}
.autogrowing-textarea-container::after{
  background-color: #333;
  background-color: var(--color-secondary-2);
  transform: scaleX(0);
}
.autogrowing-textarea-container:hover::after{
  transform: scaleX(1);
}
.autogrowing-textarea-container textarea{
  padding: .5rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  background: rgba(0,0,0,0.05);
  background: rgba(0,0,0,0.03);
  line-height: 1.8;
  color: #333;
  color: #222;
  font-size: .95rem;
}
.autogrowing-textarea-container label{
  position: absolute;
  top: .5rem;
  left: 1rem;
  font-size: 1rem;
  color: #777;
}
.autogrowing-textarea-container textarea:focus + label,
.autogrowing-textarea-container textarea:valid + label{
  position: absolute;
  top: -1.5rem;
  left: 0;
  font-size: .9rem;
}
