.input-with-moving-label {
	position: relative;
  padding-top: 1.5rem;
  display: grid;
  grid-template: 1fr / 1fr;
}
.input-with-moving-label .moving-label,
.input-with-moving-label input,
.input-with-moving-label textarea{
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}
.input-with-moving-label .moving-label{
  padding-left: 1rem;
  padding-top: .5rem;
  top: 0;
  left: 0;
  color: #777;
}
.input-with-moving-label input,
.input-with-moving-label textarea{
	z-index: 1;
	background: none !important;
}
.input-with-moving-label *{
  transition: top .3s, left .3s, font-size .3s;
} 

.input-with-moving-label input:valid ~ .moving-label,
.input-with-moving-label input:focus ~ .moving-label,
.input-with-moving-label textarea:valid ~ .moving-label,
.input-with-moving-label textarea:focus ~ .moving-label{
  top: -2rem;
  left: -1rem;
	font-size: .8rem;
}
