.input-with-moving-label {
	position: relative;
	/* border-bottom: 1px solid #777; */
	margin-bottom: .5rem;
}
.input-with-moving-label::before, .input-with-moving-label::after{
	position: absolute;
	bottom: 0;
	height: 1px;
	width: 100%;
	left: 0;
	content: "";
}
.input-with-moving-label::before{
	background-color: #aaa;
	background-color: var(--color-secondary-2);
	opacity: .5;
}
.input-with-moving-label::after{
	background-color: #666;
	background-color: var(--color-secondary-2);
	transform: scaleX(0);
}
.input-with-moving-label:hover::after{
	transform: scaleX(1);
}
.input-with-moving-label .dynamic-value{
	color: var(--color-secondary-2);
	/* font-weight: bold; */
}
.input-with-moving-label input{
	padding: 0rem 1rem .5rem 1rem;
	width: 100%;
	margin-top: 1.5rem;
	position: relative;
	z-index: 1;
	background: none;
	outline: none;
	border: none;
	font-size: 1rem;
}

.input-with-moving-label .moving-label{
	font-size: 1rem;
	position: absolute;
	top: 1.3rem;
	left: 1rem;
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 1rem
}

.input-with-moving-label input:valid ~ .moving-label,
.input-with-moving-label input:focus ~ .moving-label{
	top: 0rem;
	left: 0rem;
	font-size: .8rem;
	opacity: 1;
}










.input-with-moving-label.input-with-moving-and-overriding-label .moving-label.onfocus-label{
	opacity: 0;
}
.input-with-moving-label.input-with-moving-and-overriding-label input:focus ~ .moving-label.onfocus-label{
	opacity: 1;
}
.input-with-moving-label.input-with-moving-and-overriding-label input:not(:focus):valid ~ .moving-label.onfocus-label{
	opacity: 0;
}
.input-with-moving-label.input-with-moving-and-overriding-label input:not(:focus):not(:valid) ~ .moving-label.onfocus-label{
	opacity: 1;
}





.input-with-moving-label.input-with-moving-and-overriding-label .moving-label.overriding-label{
	opacity: 0;
}

.input-with-moving-label.input-with-moving-and-overriding-label input:focus ~ .moving-label.overriding-label{
	opacity: 0;
}

.input-with-moving-label.input-with-moving-and-overriding-label input:not(:focus):valid ~ .moving-label.overriding-label{
	top: 1.3rem;
	left: 1rem;
	font-size: 1rem;
	opacity: 1;
} 


.input-with-moving-label.input-with-moving-and-overriding-label input:not(:focus){
	color: transparent;
}

