

.histogram-header *{
  margin: 0;
  padding: 0;

}
.histogram-header-compact span{
  box-sizing: border-box;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}
.histogram-header{
  display: flex;
}
.histogram-header-compact.histogram-header,
.histogram-container.histogram-compact{
  height: 280px;
}
.histogram-header-compact.histogram-header{
  flex-direction: column-reverse;
  /* height: 200px; */
}
.half-item{
  flex: 0 0 50%;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .75rem;
  height: 1.5rem;
}
.histogram-header .half-item{
  height: auto;
  padding: 0 .5rem;
  margin-bottom: 0.25rem;
}
.histogram-header-compact.histogram-header .half-item{
  flex-direction: column-reverse;
  padding: .2rem .5rem;
  flex-basis: 48%;
  /* margin: .2rem 0; */
  align-items: center;
}
.histogram-container.histogram-compact{
  /* height: 200px; */
  /* transform: rotate(270deg); */
  flex-direction: row;
  flex: 1 1 1px;
}



.histogram-bar{
  flex: 0 0 50%;
  background: #ddd;
  display: flex;
  justify-content: space-between;
  margin-bottom: .25rem;
  height: 1.5rem;
}
.histogram-compact .histogram-bar{
  margin-bottom: 0;
  height: auto;
}
.histogram-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.histogram-bar-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.histogram-compact .histogram-bar-container{
  flex: 1 1 1px;
  transform: rotate(180deg);
  flex-direction: column;
}
.histogram-bar-label{
  flex: 0 0 100%;
  text-align: right; 
  padding: 0 0.5rem;
}
.histogram-compact .histogram-bar-label{
  display: none;
}
.histogram-bar{
  display: flex;
  flex-basis: calc(50% - 1px);
}
.histogram-compact .histogram-bar{
  height: auto;
  flex-direction: column;
}
.histogram-bar__item{
  background: #fafafa;
  flex: 1 1 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.histogram-bar__item--main{
  /* background: #aaa; */
  flex: 0 0 50%;
  padding: 0 .5rem;
  transition: flex-basis .3s;
}
.histogram-compact .histogram-bar__item--main{
  padding: 0;
}
.histogram-bar__item--main::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: right .3s, left .3s;
}
.histogram-bar--left .histogram-bar__item--main::before{
  left: 100%;
}
.histogram-bar--right .histogram-bar__item--main::before{
  right: 100%;
}
.histogram-visible .histogram-bar--left .histogram-bar__item--main::before{
  left: 0;
}
.histogram-visible .histogram-bar--right .histogram-bar__item--main::before{
  right: 0;
}
.histogram-bar__item > *{
  position: relative;
}
.histogram-bar__text{
  color: white;
  font-size: .9rem;
  flex: 1 0 1rem;
  min-width: 1rem;
}
.histogram-compact .histogram-bar__text{
  display: none;
}
.histogram-bar-label,
.histogram-bar__text--muted{
  color: #ddd;
  font-style: italic;
  font-size: .8rem;
}
.histogram-bar__text--muted{
  font-size: .6rem;
}
@media (min-width: 576px){
  .histogram-bar__text--muted{
    font-size: .8rem;
  }
}
.histogram-bar__text--muted{
  flex-shrink: 1;
  flex-basis: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.histogram-bar--left .histogram-bar__text{
  text-align: right;
}
.histogram-bar--left .histogram-bar__text--muted{
  text-align: left;
}
.histogram-bar--right .histogram-bar__text{
  text-align: left;
}
.histogram-bar--right .histogram-bar__text--muted{
  text-align: right;
}
.histogram-bar-container:hover *{
  font-weight: bold;
  transition: all .3s;
}


.histogram-btn{
  /* width: 2rem; */
  height: 2rem;
  border-radius: 50%;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  position: relative;
  display: grid;
  grid-template: 1fr 1fr;
  cursor: pointer;
}
/* .histogram-btn:hover{
  background: #eee;
  transition: all .3s;
}  */
.histogram-btn::before {
  content: " ";
  width: 2rem;
  height: 2rem;
  position: absolute;
  background: rgba(0,0,0,0.03);
  z-index: 0;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-area: 1 / 1 / span 1 / span 1;
  transition: background .3s;
}
.histogram-btn:hover::before{
  background: rgba(0,0,0,0.1);
  transition: all .3s;
} 
.histogram-btn i{
  position: relative;
  grid-area: 1 / 1 / span 1 / span 1;
}
.histogram-header-compact .histogram-btn{
  transform: rotate(270deg);
}

/* Give app style to histogram*/
.histogram-bar-label{
  color: #999999;
}
.histogram-bar--left .histogram-bar__item::before{
/* .histogram-bar--left .histogram-bar__item--main{ */
  background: #f79646;
}
.histogram-bar-container:hover .histogram-bar--left .histogram-bar__item--main{
  background: #cb5c00;
  transition: all .3s;
}
.histogram-bar--left .histogram-bar__text--muted{
  color: #cb5c00;
}
.histogram-bar--right .histogram-bar__item::before{
/* .histogram-bar--right .histogram-bar__item--main{ */
  background: #002060;
}
.histogram-bar-container:hover .histogram-bar--right .histogram-bar__item--main{
  background: #001849;
  transition: all .3s;
}
.histogram-bar--right .histogram-bar__text--muted{
  color: #a9b8d6;
}
.histogram-bar-container:hover .histogram-bar__text--muted{
  opacity: 0;
  transition: all .3s;
}

.half-item{
  background: none;
}

.histogram-header .half-item--left{
  color: #f79646;
  font-weight: bold;
  padding-left: 0;
}
.histogram-header .half-item--right{
  color: #002060;
  font-weight: bold;
  padding-right: 0;
}
.histogram-header:not(.histogram-header-compact) .half-item--left .histogram-btn{
  justify-content: flex-start;
}
.histogram-header:not(.histogram-header-compact) .half-item--right .histogram-btn{
  justify-content: flex-end;
}

@media (min-width: 576px){
  .histogram-container:not(.histogram-compact) .histogram-bar,
  .histogram-container:not(.histogram-compact) .histogram-bar-label{
    flex-basis: calc(33% - 1px);
  }
  .histogram-bar-label{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .histogram-header{
    justify-content: flex-end;
  }
  .histogram-header:not(.histogram-header-compact) .half-item{
    flex-basis: calc(33% - 1px);
  }
}




